<div class="container--list">
	<div class="list__toolbar">
		<div class="wrapper--list__toolbar row">



			<div class="filter__list tools--list__toolbar col s12">
				<div class="wrapper--filter__list row ">

					<h5 class="title--filter__list">
						filter
					</h5>
					<button class="tool--btn selected waves-effect waves-light">all</button>

					<button class="tool--btn waves-effect ">announcements</button>

					<button class="tool--btn waves-effect ">events</button>

					<div class="container--tool--range form__fields__container right col s5">
						<label for="ceListRankRange">Stock Rank</label>
						<div class="tool--range" id="ceListRankRange"></div>
					</div>


				</div>
			</div>



			<div class="sort__list tools--list__toolbar col s7 ">
				<h5 class="title--filter__list">
					sort
				</h5>
				<button class="tool--btn">
					rank
				</button>
				<button class="tool--btn">
					trending
				</button >
				<button class="tool--btn">
					added
				</button>
			</div>

			<div class=" search__list tools--list__toolbar col s4 offset-s1">
				<div class="wrapper--search__list">
					<div class="input-field">
						<input id="ceListSearch" type="search" class="tool--search" class="validate">
						<label for="ceListSearch">Search</label>
					</div>
					<div class="container--search__btn ">
						<i id="ceListSearchBtn" class="material-icons prefix">search</i>
					</div>
				</div>
			</div>

		</div>
	</div>
	<table class="list">
		<caption class="caption">
			<span class="message">
				event updates for
			</span> :
			<div class="dates">
				{{}}
			</div>
		</caption>
		<thead class="container--list__headers">
			<tr class="list__headers row">
				<td class="container--list__header col s2">
					<h3 class="list__header list__header--date ">
						date
					</h3>
				</td>
				<td class="container--list__header col s2">
					<h3 class="list__header list__header--rank ">
						rank
					</h3>
				</td>
				<td class="container--list__header col s2">
					<h3 class="list__header list__header--stock ">
						stock
					</h3>
				</td>
				<td class="container--list__header col s4">
					<h3 class="list__header list__header--title ">
						news / announcement
					</h3>
				</td>
				<td class="container--list__header col s2">
					<h3 class="list__header list__header--trending ">
						trending
					</h3>
				</td>
			</tr>
		</thead>
		<tbody class="list__rows">
			<tr class="list__row row" data-ng-repeat="events in list.eventsArray">
				<td class="date__for__events col s2">
					{{events.date}}
				</td>
				<td class="events__for__date col s10">
					<ul class="list__of__events">
						<li class="event" data-ng-repeat="event in events.list">
							<div class="wrapper--event row">
								<div class="event__detail event__rank col s2">
									{{event.rank}}
								</div>
								<div class="event__detail event__stock col s2">
									{{event.stock}}
								</div>
								<div class="event__detail event__title col s4">
									{{event.eventTitle}}
								</div>
								<div class="event__detail event__trending col s2">
									{{event.trending}}
								</div>
							</div>
						</li>

					</ul>

					<ul class="pagination">
						<li class="button disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
						<li class="button active"><a href="#!">1</a></li>
						<li class="button waves-effect"><a href="#!">2</a></li>
						<li class="button waves-effect"><a href="#!">3</a></li>
						<li class="button waves-effect"><a href="#!">4</a></li>
						<li class="button waves-effect"><a href="#!">5</a></li>
						<li class="button waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
					</ul>
				</td>
			</tr>

		</tbody>
	</table>
</div>
