<footer class="page__footer">
    <!-- <h4 class="title--footer">
    	about
    </h4> -->
    <p class="desc--footer content--footer">
    	stay updated on all the latest stock updates and events
    	<span class=" footer__copyright">
	      	© 2018 STOCKSPIRE.COM
	    </span>
    </p>
    <!-- <h4 class="title--footer title--footer__nav">
    	Quick Links
    </h4>
    
    	<nav class="footer__nav content--footer">
    		<ul class="clearfix list--footer__nav">
    			
    	    	<li>
    	    		<a class="" href="#">
    	    			<span class="icon material-icons">
    	    				markunread_mailbox
    	    			</span>
    	    			<span class="text">
    	    				<span class="name">
    	    				telegram
    		    			</span>
    		    			<span class="desc">
    		    				join for quick updates
    		    			</span>
    	    			</span>
    	    		</a>
    	    	</li>
    	    	<li>
    	    		<a class="" href="#">
    	    			<span class="icon material-icons">
    	    				event
    	    			</span>
    	    			<span class="text">
    	    				<span class="name">
    	    					add an event
    		    			</span>
    		    			<span class="desc">
    		    				help community
    		    			</span>
    	    			</span>
    	    		</a>
    	    	</li>
    	    	<li>
    	    		<a class="" href="#">
    	    			<span class="icon material-icons">
    	    				folder_shared
    	    			</span>
    	    			<span class="text">
    	    				<span class="name">
    		    				portfolio
    		    			</span>
    		    			<span class="desc">
    		    				manage your portfolio
    		    			</span>
    	    			</span>
    	    		</a>
    	    	</li>
    	   
    	 	</ul>
    	</nav> -->

    


</footer>