<header class="app__header">
	
	<div class="wrapper--app__header clearfix">
		<div class="left logo__container">
			<a id="logo" href="#" class="logo">stockspire</a>
		</div>

		<nav class="right header__nav"  role="navigation">
			<div class="wrapper--nav ">

		  		<ul class="hide-on-med-and-down list--header__nav">
			    	<li>
			    		<a class="" href="#">
			    			<span class="icon material-icons">
			    				markunread_mailbox
			    			</span>
			    			<span class="text">
			    				<span class="name">
			    				telegram
				    			</span>
				    			<!-- <span class="desc">
				    				join for quick updates
				    			</span> -->
			    			</span>
			    		</a>
			    	</li>
			    	<li>
			    		<a class="" href="#">
			    			<span class="icon material-icons">
			    				event
			    			</span>
			    			<span class="text">
			    				<span class="name">
			    					add an event
				    			</span>
				    			<!-- <span class="desc">
				    				help community
				    			</span> -->
			    			</span>
			    		</a>
			    	</li>
			    	<li>
			    		<a class="" href="#">
			    			<span class="icon material-icons">
			    				folder_shared
			    			</span>
			    			<span class="text">
			    				<span class="name">
				    				portfolio
				    			</span>
				    			<!-- <span class="desc">
				    				manage your portfolio
				    			</span> -->
			    			</span>
			    		</a>
			    	</li>
			    	<li>
			    		<a href="#" id="toggleRightSideMenu" data-ng-click="hCtrl.toggleMenu({menuId:'rightSideMenu', bodyClass: 'rightSideMenuOpen'})"><i class="material-icons">menu</i></a>
			    	</li>
			 	</ul>

				<ul id="rightSideMenu" class="list--side__nav--right list--side__nav">
					<a class="close" href="#">
						<i class="icon material-icons" data-ng-click="hCtrl.toggleMenu({menuId:'rightSideMenu', bodyClass: 'rightSideMenuOpen'})">
							close
						</i>
					</a>
					<li>
			    		<a class="profile" href="#">
			    			<span class="icon material-icons ">
			    				portrait
			    			</span>
			    			<span class="text ">
			    				<span class="name">
			    				guest
				    			</span>
				    			
			    			</span>
			    		</a>
			    	</li>
					<li>
			    		<a class="" href="#">
			    			<span class="icon material-icons ">
			    				markunread_mailbox
			    			</span>
			    			<span class="text ">
			    				<span class="name">
			    				telegram
				    			</span>
				    			<span class="desc">
				    				join for quick updates
				    			</span>
			    			</span>
			    		</a>
			    	</li>
			    	<li>
			    		<a class="" href="#">
			    			<span class="icon material-icons">
			    				event
			    			</span>
			    			<span class="text">
			    				<span class="name">
			    					add an event
				    			</span>
				    			<span class="desc">
				    				help community
				    			</span>
			    			</span>
			    		</a>
			    	</li>
			    	<li>
			    		<a class="" href="#">
			    			<span class="icon material-icons">
			    				markunread_mailbox
			    			</span>
			    			<span class="text">
			    				<span class="name">
				    				portfolio
				    			</span>
				    			<span class="desc">
				    				manage your portfolio
				    			</span>
			    			</span>
			    		</a>
			    	</li>
				</ul>

			</div>
		</nav>	
	</div>
	
</header>