<header class="app__header z-depth-1">
	
	<div class="wrapper--app__header clearfix">
		<div class="left logo__container">
			<a id="logo" href="#" class="logo grey-text text-darken-4">stockspire</a>
		</div>

		<nav class="right" role="navigation">
			<div class="wrapper--nav ">

		  		<ul class="hide-on-med-and-down header__nav">
			    	<li>
			    		<a class="" href="#">
			    			<span class="name">
			    				telegram
			    			</span>
			    			<span class="desc">
			    				join for quick updates
			    			</span>
			    		</a>
			    	</li>
			    	<li>
			    		<a class="" href="#">
			    			<span class="name">
			    				add an event
			    			</span>
			    			<span class="desc">
			    				help community
			    			</span>
			    		</a>
			    	</li>
			    	<li>
			    		<a class="" href="#">
			    			<span class="name">
			    				portfolio
			    			</span>
			    			<span class="desc">
			    				manage your portfolio
			    			</span>
			    		</a>
			    	</li>
			 	</ul>

				<ul id="nav-mobile" class="side-nav">
					<li>
			    		<a class="" href="#">
			    			<span class="name">
			    				telegram
			    			</span>
			    			<span class="desc">
			    				join for quick updates
			    			</span>
			    		</a>
			    	</li>
			    	<li>
			    		<a class="" href="#">
			    			<span class="name">
			    				add an event
			    			</span>
			    			<span class="desc">
			    				help community
			    			</span>
			    		</a>
			    	</li>
			    	<li>
			    		<a class="" href="#">
			    			<span class="name">
			    				portfolio
			    			</span>
			    			<span class="desc">
			    				manage your portfolio
			    			</span>
			    		</a>
			    	</li>
				</ul>

				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

			</div>
		</nav>	
	</div>
	
</header>