.card--news{

	.card__content{
		padding: 0;
	}
}


.container--news__list{
	background: $newsListContBg;
}

.news__list{
	font-family: $newsBoxFont;

	margin: 0;
	text-shadow: none;
	padding: .2rem 0;
	

	.news__list__item{
		padding: .6rem 0;
		border-bottom: $newsListItemBorder;

		&:last-child{
			border:none;
		}
		a{
			display: block;
		}

		.title{
			@extend .uppercase;
			width: 90%;
			border-radius: 4px;
			background: $newsTitleBg;
			margin: 0 auto .2em;
			padding: 0.3125rem 0.625rem;
		
			

			font-size: .9rem;
			font-weight: 900;
			letter-spacing: .05em;
			color: $newsTitleTextColor;
			
		}

		.desc{
			@extend .capitalize;

			width: 90%;
			margin: 0 auto;
			padding: 5px 10px;
			font-size: .8rem;
			letter-spacing: .05em;
			color: $newsDescTextColor;
		}

		.date__added{
			@extend .text__right;
			@extend .uppercase;
			
			position: relative;
			border:none;
			margin:0;
			padding: 0 .6rem;

			font-size: .8rem;
			letter-spacing: .08em;
			color: $newsDateTextColor;
			
			/* &:after,
			&:before{
				@include pseudo;
				left: 20%;
				width: 60%;
			}
			&:after{
				border-bottom: 1px solid rgb(181,181,181);
			}
			&:before{
				border-top: 1px solid rgb(181,181,181);
			} */
		}

	}

	.pagination{
		@extend .text__center;
		padding: .1em 0;

		.button{
			@extend .inline__block;

			&.active{
				background: rgb(100,100,100);
			}
		}

	}
}