
/* ==========================================================================
   Utilites
   ========================================================================== */


	/* =text */
.text--paragraph{
	font-family: $primaryFont;
	font-weight: 400;
}
.text--logo{
	font-family: $logoFont;
    color: $logoTextColor;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.text--nav__link{
    font-family: $primaryFont;
    // color: $logoTextColor;
    // font-size: 2.5rem;
    text-transform: uppercase;
}

.text--heading{
	// @include heading__text;
}

	/* =card  */
.card{
	@extend .z-depth-2;
	padding: .1em .5em;
}

.card__title{
	@include title;
	font-variant:small-caps;
	margin: .3em .1em;
	position:relative;
	text-align:center;
	text-transform:lowercase;
	z-index:1;

	&:after{
		@include pseudo;
		border-bottom: 1px solid lighten(black,50%);
		z-index: -1;
	}
}


/**************
*******   =temp
**************/
.blue{
    background: blue; 

}
.red{
    background: red;
}
.green{
    background: green;
}
