	// vars

// paddings
$headerPadding: .0rem 2rem;

// fonts
$logoFont: 'Libre Barcode 39 Extended Text','Roboto';
$primaryFont:   'Spinnaker',sans-serif;

		// background + colors

// $headerBg: linear-gradient( to right,hsla(236, 100%, 95%, 1) 10%, hsla(236, 100%, 58%, 1));
// $headerBg: linear-gradient(to right, #4b6cb7, #182848);
// $headerBg: linear-gradient(to right, #360033, #0b8793);
// $headerBg: linear-gradient(to right, #000fff, #0b8793);
$headerBg: linear-gradient(to right, #360033, #000fff);

// $cardTitleBg: linear-gradient( to bottom,hsla(236, 100%, 50%,1) ,hsla(236, 100%, 70%,1) );
// $cardTitleBg: linear-gradient(to right, #360033, #0b8793);
$cardTitleBg: linear-gradient(to bottom, #00c6ff, #0072ff);

$bigOverlayBg: rgba(0,0,0,.5);




		// text colors
$textColor: #424242;
$headerNavTextColor: hsla(0, 0%, 97%,1);
$rightSideNavTextColor: hsla(0, 0%, 50%,1);
$logoTextColor: hsla(236, 100%, 100%, 1)  !important;
$calendarTextColor: rgba(255,255,255,1);
$toolbarTextColor: rgb(130,130,130);
// $headingTextColor: ;
// $warningTextColor: red;
// $green: lighten(green,30%); 

		//heights

$listHeaderHeight: 2.7rem;
$heightOfListOfEvents: 12rem;

// font-sizes

// border 
$tableThickBorder: 2px solid rgb(230,230,230) !important;
$tableSlimBorder: 1px solid rgba(0,0,0,.1) !important;
// shadows





