	// vars

// paddings
$headerPadding: .5rem 2rem;

// fonts
$logoFont: 'Libre Barcode 39 Extended Text','Roboto';
$primaryFont:   'Spinnaker',sans-serif;

// background + colors
$headerBg: #fff;

// text colors
$textColor: #424242;
$headerNavTextColor: #424242;
$logoTextColor: #212121;
// $headingTextColor: ;
// $warningTextColor: red;
// $green: lighten(green,30%); 



// shadows


