@import "libs/materialize";

@import "vars";

@import "mixins";

@import "base";
	

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "helper";

@import "codeshell";

@import "mediaqueries";

@import "utility";


/*===================================
        =custom css
====================================*/




		/* =body */


body {
  // background: blue;
  // font: 100% $font-stack;
  // color: white;
  // text-transform: uppercase;
  // transform: translate3d(0,0,0);
}



		/* =header */

.app__header{
	// @extent paragraph__text;
	background: $headerBg;
	padding: $headerPadding;
	overflow:hidden;

}

/* =logo */
.logo{
	@extend .text--logo;
}

.app__header .wrapper--nav{
	a{
		color: $headerNavTextColor;
	}
}

/* =headerNav  (applied on the ul inside nav tag in the app's header) */
.header__nav{
	height:100%;
	overflow:hidden;
	// background:red;

	a {
		
		display: block;
		line-height: 1.3em;
		overflow:hidden;
		padding: 1em 1.2em;
		text-align: center;

		.name{
			display: block;
			font-size: 1rem;
			font-weight: 800;
			text-transform: uppercase;
			line-height: 1em;
		}
		.desc{
			display: inline;
			text-transform: capitalize;
			font-size: .8rem;
		}
	}
}



/* =calendar */

.container--year__selector{
	border:1px solid blue;

	.year__selector{
		background:red;
		cursor: pointer;
		height: 100px;
		font-size: 2em;
	}

}


