@import "libs/materialize";

@import "vars";

@import "mixins";

@import "base";
	

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import "helper";

@import "codeshell";

@import "mediaqueries";

@import "utility";


/*===================================
        =custom css
====================================*/




				/* =body */


body {
  // background: blue;
  // font: 100% $font-stack;
  // color: white;
  // text-transform: uppercase;
  // transform: translate3d(0,0,0);
  // height: 100vh;
  // overflow: hidden;
  
  
}

body>.wrap{
	height:100%;
}


				/* =header */


.app__header{
	background: $headerBg;
	padding: $headerPadding;
	overflow:hidden;
	border-bottom: 7px solid hsla(236, 100%, 50%,1);

	// @extend .z-depth-4;
	@extend .z-depth-2;
	
	@include transition__3;

	&:hover{
		@extend .z-depth-3;
	}

}




				/* =logo */


.logo{
	@extend .text--logo;

}


				/* =list--header__nav
				  (applied on the ul inside nav tag in the app's header) */
.list--header__nav{
	height:100%;
	overflow:hidden;
	// background:red;

	a {
		color: $headerNavTextColor;
		display: block;
		line-height: 1.3em;
		overflow:hidden;
		padding: 1em 1.2em;
		text-align: center;

		.name{
			display: block;
			font-size: 1rem;
			font-weight: 800;
			text-transform: uppercase;
			line-height: 1em;
		}
		.desc{
			display: inline;
			text-transform: capitalize;
			font-size: .8rem;
		}
	}
}


				/* =side__nav */
.app__header .list--side__nav{
	padding: 3rem 0;
	position:fixed;
	background:white;
	color: $rightSideNavTextColor;
	height:100%;
	top: 0 ;
	right:0;
	max-width: 70%;
	min-width: 20%;
	z-index:3;
	will-change:transform;
	transform:translate3d(100%, 0 ,0);
	transition: all .3s ease;
}


.list--side__nav--right{
	
	
	li{
		display: block;
		float: none;
	}
	a{
		@extend .clearfix;
		@extend .text__shadow--subtle;
		display: block;
		color: $rightSideNavTextColor;
		line-height: 1.3em;
		overflow:hidden;
		padding: 1em 3.2em;
		text-align: center;
		overflow-y: auto;

		&.close{
			@include absolute;
			left: auto;
			right: .3em;
			display: inline-block;
			padding: .4em;
			font-size: 2rem;

		}
		
		.icon,
		.text{
			@extend .text__left;
			display: block;
			float: left;
			height: 100%;
		}
		.icon{
			text-shadow: 2px 0 3px rgba(0,0,0,.1),
						 3px 0 3px rgba(0,0,0,.07)
			;
			font-size: 1.6rem;
		}
		.text{
			
			padding-left: 1.5rem;
		}
		.name{
			display: block;
			font-size: 1.2rem;
			letter-spacing: .03em;
			font-weight: 400;
			text-transform: uppercase;
			line-height: 1em;
		}
		.desc{
			display: inline;
			text-transform: capitalize;
			font-size: .8rem;
		}
		
		&.profile{
			.icon{
				font-size: 2rem;
			}
			.text{
				padding-top: .3rem;
				// font-size: 2rem;
				// line-height: 1.6rem;
			}
		}
		
	}
}




				/* =main */


.main{
	// height:100%;
	// height:100vh;
	// background:#000;
	// background: url('../img/home-bg.jpg') no-repeat;
	background-size: 100% 100%;
	// background-position: 0% 0%;
	background-attachment:fixed;

	@extend .pad--main__content;
	position:relative;

	&:before{
		@include pseudo;
		// background: rgba(255,255,255,.8);

		// background:red;

	}

}



				/* =events */



.card--events{
	// opacity:0;
}


				/* =calendar */


#calendar{
	
	background: linear-gradient(to right, 
		          hsl(161, 59%, 44%), 
		          hsla(236, 100%, 50%,1)
		        );
	background-repeat:no-repeat;
	color: $calendarTextColor;

	.wrapper--calendar{
		border: 2px solid rgba(0,0,0,.1);
		// margin: .5rem 0;
	}
}



				/* =year__selector */

.container--year__selector.swiper-container{
	// @include 
	
	// border: 10px solid white;
	height: 10rem;

	.year__selector.swiper-wrapper{

		height: 100% !important;
		// @extend .z-depth-4;
		// box-shadow:inset 0 4px 10px 20px black;
		// background:red;
		cursor: pointer;

		.year{
			height: 100% !important;
			// @extend .text__center;

		}
	}

}

.prev__year,
.next__year{
	@include absolute;
	// background: rgba( 255, 255, 255, .8 );
	background: linear-gradient(to right, 
	              hsla(161, 59%, 54%,1), 
	              hsla(236, 100%, 60%,1)
	             );

	margin: 0;
	width: calc(100% - 5rem);
	top: 0;
	bottom: auto;
	left: 2.5rem;
	height: 2.5rem;

	[class^='wrapper']{
		position:relative;
		height: 100%;
		
	}
	.icon{
		@extend .text__center;
		display: block;
		height: 100%;
		line-height: 3.5rem;
		
	}
	.text{
		@include absolute;
		@extend .capitalize;
		@extend .text__shadow--subtle;

		width: 100%;
		height: 100%;
		color: hsl(236,98%,100%);
		// text-shadow: 0 0 5px rgba(255,255,255,.5);

		line-height: 2.5rem;
		padding: 0 2rem;

	}

	&.swiper-button-disabled{
		cursor: not-allowed !important;
		pointer-events:auto !important;
		opacity: 1 !important;

		.icon{
			opacity: .5;
		}
	}
}

.prev__year{
	
}

.next__year{
	top:auto;
	bottom:0;

	.text{
		@extend .text__right;
	}
}

.year{
	.text--year{

	}
}



				/* =month__selector */

.container--month__selector.swiper-container{
	@include calendarUtils;
	position:relative;
	height: 100% !important;
	padding: 2.5rem 0;
	line-height: 5rem;
	// background: red;
	padding-left: 2.5rem !important;
	padding-right: 2.5rem !important;

	.month__selector.swiper-wrapper{
		// @extend .z-depth-2;
		// width: 80% !important;
		.month{
			@extend .text__center;

			&:nth-child(2n){
				background: rgba(255,255,255,.1);
			}
			
		}
	}

}

[class^='wrapper']{
		position:relative;
		height: 100%;
		width: 100%;		
}

.prev__month,
.next__month{
	margin: 0;
	@include absolute;		
	bottom: auto;
	left: 0;
	height: 100%;
	width: 2.5rem;
	z-index: 30;

	[class^='wrapper']{
		position:relative;
		height: 100%;
		width: 100%;
	}

	.icon{
		@extend .text__center;
		display: block;
		height: 100%;
		line-height: 10rem;
		// line-height: 3.5rem;
		
	}

	&.swiper-button-disabled{
		cursor: not-allowed !important;
		pointer-events:auto !important;
		opacity: 1 !important;

		.icon{
			opacity: .5;
		}
	}

}

.prev__month{
	background: hsla(161, 59%, 54%,1);
}

.next__month{
	// background:yellow;
	left:auto;
	right:0;
	background: hsla(236, 100%, 60%,1) ;

}


.month{
	@include calendarUtils;

	.text--month{
		@extend .uppercase;
		// @extend .small__caps;

		&:after{
			content: '/';
		}
	}
}

.pagination__month{
	/* 
	@include absolute;
	z-index: 10;
	top: 150% !important;
	left: 3rem;
	
	transform:translateY(-50%);
	background:transparent; 
	*/

	.swiper-pagination-bullet{
		// @include pseudo;
		/* position:relative;
		top: 0 !important;
		display: block !important;
		margin: 0 !important;
		height: 100%;
		width: 100%;
		z-index: 1000000;
		 */
		opacity: 1;
		width: 3rem !important;
		height: 3rem !important;
		color: white;
		font-size: 2em;
		// transform:translateY(-50%);
		.bullet__text{
			@extend .text__center;
			height: 100%;
			font-size: 1em;
			
		}
	}

}



				/* =date__selector */


.container--date__selector.swiper-container{
	@include calendarUtils;

	position:relative;
	height: 100% !important;
	margin: 0;
	height: 4rem;
	line-height: 4rem;
	// background: red;
	padding-left: 2.5rem !important;
	padding-right: 2.5rem !important;


	.date__selector.swiper-wrapper{
		// @extend .z-depth-2;
		// width: 80% !important;

	}

}
.prev__date,
.next__date{
	margin: 0;
	@include absolute;

	background: rgba( 255, 255, 255, .8);
	bottom: auto;
	left: 0;
	height: 100%;
	width: 2.5rem;
	line-height: 5rem;
	cursor: pointer !important;
	z-index: 30;
	[class^='wrapper']{
		position:relative;
		height: 100%;
		width: 100%;		
	}
	.icon{
		@extend .text__center;
		display: block;
		height: 100%;
	}

	&.swiper-button-disabled{
		cursor: not-allowed !important;
		pointer-events:auto !important;
		opacity: 1 !important;

		.icon{
			opacity: .5;
		}
	}

}

.prev__date{
	background: hsla(161, 59%, 54%,1);
	// background:red;
}

.next__date{
	left:auto;
	right:0;
	background: hsla(236, 100%, 60%,1) ;
	// background:red;
}
.date{
	@include calendarUtils;
	@extend .text__center;

	&:nth-child(2n){
		background: rgba(255,255,255,.1);
	}
	
}


				/* =list */

.waves-effect .waves-ripple{
	transition: all .3s;
}

				/* =list__toolbar */
.list__toolbar{
	background: rgb(250,250,250);
	padding: 1em .5em;
}

.tools--list__toolbar{
	// background:white;\
	margin-bottom: .3rem;
	position: relative;

	.tool--btn{
		@extend .lowercase;
		@extend .small__caps;
		
		@extend .z-depth-1;
		// @extend ;
		// @extend .waves-light;
		@extend .btn;
		// @extend .text__shadow--content;

		background:white;
		// background: linear-gradient(to bottom,
  //                   white,
  //                   rgb(248,248,248)
		// 	        ) no-repeat;

		color: rgb(40,40,40);
		font-family: $primaryFont;
		font-size: 1.3rem;
		line-height: .3em;
		padding: .3em 1em;
		margin-right: .4em;
		border-radius: 3px;
		border:none;
		border: 1px solid rgb(220,220,220);
		// @extend .z-depth-3;
		cursor: pointer;
		transition: all .2s !important;

		&:hover,
		&:focus{
			background: rgb(253,253,253);
			@extend .z-depth-3;

		}
		

		&.selected{
			background: $cardTitleBg !important;
			border: none !important;
			color: white;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14) !important,
						0 1px 5px 0 rgba(0, 0, 0, .12) !important,
						0 3px 1px -2px rgba(0, 0, 0, .2) !important;
			&:hover{
				@extend .z-depth-3;
			}

		}

	}
	.title--filter__list{
		// @include absolute;
		// @extend .text__shadow--mini__text;
		@extend .uppercase;
		@extend .small__caps;
		bottom:auto;
		top: 0;
		margin: 0;
		margin-right: 1rem;

		text-shadow: none;
		font-size: 1rem;
		letter-spacing: .05em;
		display: inline-block;
		color: $toolbarTextColor;
		
		
	}
}


				/* =filter__list */

.filter__list{
	.container--tool--range {
		label{
			@extend .text__center;
			@extend .uppercase;
	
			display: block;
			color: $toolbarTextColor;
			font-size: 1rem;
			text-shadow: none;
			margin-bottom: .3rem;

		}
	}
	.tool--range{

	}
}


				/* =search__list */

.search__list{
	
	.wrapper--search__list{
		margin: 0;
		background: white;
		@extend .z-depth-1;
		position:relative;
	}
	.input-field{
		margin-bottom:0;
		margin-top:0;
		height: 2.5rem;
		margin: 0 ;
		width: 100%;
		position:relative;
		// height: 1rem;
		input#ceListSearch{
			height: 100%;
			margin:0;
			padding: 0;
			line-height: 2.5rem;
			// height: 2.5rem;
			max-width: 100%;
			border:none;

			&:focus{

				background: white;
				border:none;
				border:none;
				box-shadow: none ;
			}

			&:focus + label{
				color: $toolbarTextColor !important;
				transform: none;
			}
		}
		
		label{
			@include absolute;
			display: block;
			color: rgb(0,0,0) !important;
			text-shadow: none;
			transition: all .1s;
			// background:red;
			top: auto;
			height: 100%;
			bottom: 0;
			line-height: 2.5rem;
			transform:none;
			transition: all .3s;
		}
	}

	
	.container--search__btn{
		@include absolute;
		bottom:0;
		left: auto;
		right: 0;
		// background:red;

		i#ceListSearchBtn{	
			cursor: pointer;
			padding: 0 .3em;
			display: inline-block;
			line-height: 1.5em;
			vertical-align: middle;
			height: 100%;
			width: 100%;
		}

	}
}


				/* =list */

.list{
	display:block !important;
	box-shadow: 0 -4px 5px rgba(0,0,0,.25);
	.row{
		margin-bottom: 0 !important;
		$columnPadding: 0 !important;
		.col{
			padding-left: $columnPadding;
			padding-right: $columnPadding;
		}
	}
	
	tr,
	td,
	thead,
	tbody,
	caption{
		display: block !important;
		border:none;
	}

	.list__rows{
		
	}
	.list__row{
		&:nth-child(2n){
			background:rgba(0,0,0,.02);
		}
		
	}

	.caption{
		@extend .text__left;
		font-size: 2rem;
		text-transform: capitalize;
		background: hsl(243,90%,37%);
		background: linear-gradient(to right,
			          hsl(243,90%,57%),
			          hsl(236,100%,69%)
			        );
		box-shadow: 0 3px 3px rgba(0,0,0,.4);
		color: hsl(243,90%,97%);
		padding: .2em 1em;

	}
	.list__headers{
		background: linear-gradient( 
			         to bottom,
			         hsl(0,0%,98%) ,
			         hsl(0,0%,98%)
			        );
		height: $listHeaderHeight;
		// border-bottom: $tableThickBorder;
	}
}

.container--list__header{
	height:100%;

	.list__header{
		@extend .uppercase;
		
		text-shadow: none;

		// padding: .5em 0;
		
		text-align:center;
		margin: 0;
		font-size: 1.1rem;
		line-height: $listHeaderHeight;
		letter-spacing: .08em;
		font-weight: 600;
		color: rgb(80,80,80);
		border-right: $tableThickBorder;
	}

	&:last-child .list__header{
		border-right:none !important;
	}
}

.list__rows{
	.list__row{
		overflow:hidden;
		max-height: calc(#{$heightOfListOfEvents} + 4rem) ;
	}
}

.date__for__events{
	@extend .text__center;
	@extend .text__shadow--very__subtle;

	// text-shadow: -2px 2px 4px hsl(243,90%,75%);	
	color: hsl(243,90%,37%);
	color: hsla(236, 100%, 20%,1);
	font-size: 1.3rem;
	font-weight: 600;

	height: 1000px;
	padding: 2em 0 !important;
	border-right: $tableThickBorder;

}
.events__for__date{
	padding:0 !important;
	
	.list__of__events{
		margin: 0;
		max-height: $heightOfListOfEvents;
		overflow: hidden;
		border-bottom:$tableThickBorder;

		.event{
			height: calc(#{$heightOfListOfEvents} / 3);
			// border-bottom: $tableSlimBorder;
			.wrapper--event{
				height: 100%;
			}
		}
		.event__detail{
			@include capitalize;
			@extend .text__shadow--very__subtle;
			
			color: rgb(20,20,20);
			text-align: center;
			padding: 0 1em;
			line-height: calc(#{$heightOfListOfEvents} / 3);
			height: 100%;
			border-right: $tableThickBorder;
			&:last-child{
				border-right:none !important;
			}
		}
	}

	.pagination{
		text-align: center;

		.button{
			display: inline-block;
		}
		.active{
			background: $cardTitleBg;
		}
	}
}
	/* generating 10 column grid for columns inside .list__of__events */
.list__of__events .col{
    float: left;
    box-sizing: border-box;
    padding: 0;
    min-height: 1px;

    $j: 1;
    $num__cols: 10;
    @while $j <= $num__cols {
      $perc: unquote((100 / ($num__cols / $j)) + "%");
      &.s#{$j} {
        width: $perc;
        @include reset-offset;
      }
      $j: $j + 1;
    }

    $j: 1;
    @while $j <= $num__cols {
      $perc: unquote((100 / ($num__cols / $j)) + "%");
      @include grid-classes("s", $j, $perc);
      $j: $j + 1;
    }

}



		/*  =states  */

body.rightSideMenuOpen{
	overflow:hidden;

	.list--side__nav--right{
		transform:translate3d(0%, 0 ,0);
	}
	.overlay--big{
		display: block;
	}
}