
<!-- header -->
<app-header></app-header>
	
<main class="main row">

    <!-- content -->
    <aside class="left col s12 l4">

      <section class="card card--news">
          <div class="wrapper--card">
              <h2 class="card__title">
                  major news
              </h2>
              <div class="card__content">
                  <news></news>
              </div>
          </div>
      </section>

      <section class="card card--poll">
          <div class="wrapper--card">
              <h2 class="card__title">
                  poll
              </h2>  
              <div class="card__content">
                  <poll></poll>
              </div>
          </div>
      </section>

      <section class="card card--footer">
          <div class="wrapper--card">
              <h2 class="card__title">
                  footer
              </h2> 
              <div class="card__content">
                  <app-footer></app-footer>    
              </div>
          </div>
      </section>
    </aside>

    <section class="right col s12 l8">
      <section class="card card--events container--events">
          <div class="wrapper--card">
              <h2 class="card__title">
                  Event Updates
              </h2> 
              <div class="card__content">
                  <calendar-events-list></calendar-events-list>
              </div>
          </div>
      </section>
    </section>

</main>

<!-- <div class="row center">
  <a href="http://materializecss.com/getting-started.html" id="download-button" 
  class="btn-large waves-effect waves-light orange">Get Started</a>
</div> -->



<!-- footer -->


