<div id="calendar" class="calendar" data-ng-click='ceCtrl.hello()'>
	<!-- {{calendar.years}} -->
	<!-- {{calendar.value}} -->
	<div class="wrapper--calendar">
		<div class="container--year__selector swiper-container">

			<div class="year__selector swiper-wrapper">
				<div class="year swiper-slide" data-ng-repeat="year in calendar.years">
					<!-- year can get printed out in this scope -->

					<div class="container--month__selector swiper-container ">

						<div class="month__selector swiper-wrapper">
							<div class="month swiper-slide" data-ng-repeat="month in calendar.months" data-ng-click="ceCtrl.selectMonthYear({year,month})">
								<!-- month can get printed out in this scope -->
								<span class="text--month text--slide">
									{{month}}
								</span>
								<span class="text--year text--slide">
									{{year}}
								</span>

								<!-- <input type="text" value="isd" data-model="ceCtrl.monthIndex"> -->
							</div>
						</div>
						<!-- pagination for month slides-->
						<div class="swiper-pagination month__pagination"></div>

						<!-- navigation button prev  -->
						<div class="swiper-button-prev prev__month">
							<div class="wrapper--prev__date">
								<div class="icon">
									<i class="material-icons">
										keyboard_arrow_left
									</i>
								</div>
							</div>
						</div>

						<!-- navigation button next  -->
						<div class="swiper-button-next next__month">
							<div class="wrapper--next__date">
								<div class="icon">
									<i class="material-icons">
										keyboard_arrow_right
									</i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- navigation button prev for year  -->
			<div class="swiper-button-prev prev__year">
				<div class="wrapper--prev__year">
					<div class="icon">
						<i class="material-icons">
							keyboard_arrow_up
						</i>
					</div>
					<div class="text">
						{{calendar.prevYear ? 'click on this bar or drag up for ' + calendar.prevYear : ''}}
					</div>
				</div>
			</div>
			<!-- navigation button next for year -->
			<div class="swiper-button-next next__year">
				<div class="wrapper--next__year">
					<div class="icon">
						<i class="material-icons">
							keyboard_arrow_down
						</i>
					</div>
					<div class="text">
						{{calendar.nextYear ? 'click on this bar or drag down for ' + calendar.nextYear : ''}}
					</div>
				</div>
			</div>

		</div>

		<div class="container--date__selector swiper-container">
			<div class="date__selector swiper-wrapper">
				<div class="date swiper-slide" data-ng-repeat="date in calendar.datesInCurrentMonth" data-ng-click="ceCtrl.selectDate(); ">
					<span class="text--slide text--date">
						{{date}}
					</span>
				</div>
			</div>

			<!-- pagination for month slides-->
			<div class="swiper-pagination date__pagination"></div>

			<!-- navigation button prev  -->
			<div class="swiper-button-prev prev__date">
				<div class="wrapper--prev__date">
					<div class="icon">
						<i class="material-icons">
							keyboard_arrow_left
						</i>
					</div>
				</div>
			</div>

			<!-- navigation button next  -->
			<div class="swiper-button-next next__date">
				<div class="wrapper--next__date">
					<div class="icon">
						<i class="material-icons">
							keyboard_arrow_right
						</i>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
